[submodule "Sprint_3_Lessons"]
	path = Sprint_3_Lessons
	url = git@github.com:Dia-Cer0/Sprint_3_Lessons.git
[submodule "1-SPRINT-1"]
	path = 1-SPRINT-1
	url = git@github.com:Dia-Cer0/1-SPRINT-1.git
[submodule "3-SPRINT-3"]
	path = 3-SPRINT-3
	url = git@github.com:Dia-Cer0/3-SPRINT-3.git
[submodule "2-SPRINT-2"]
	path = 2-SPRINT-2
	url = git@github.com:Dia-Cer0/2-SPRINT-2.git
