@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

<<<<<<< HEAD
.header {
  display: flex;
  justify-content: center;
  opacity: 100%;
  visibility: visible;
  transition: visibility 10s ease-in-out, opacity 10s ease-in-out;
  /*animation-name: fade-in;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;*/
}
.header__logo {
  max-height: 320px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.header__logo:hover {
  visibility: hidden;
  opacity: 0%;
=======
>>>>>>> 2d9455f3f47756a87d80bac5234fce8b32d88dac
}
